html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h1{
  text-align: center;
}

.table-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#artifacts{
  border-radius: 5px;
  border: solid 2px;
  box-shadow: 3px 2px 3px;
  text-align: center;
}