html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.App h1{
  text-align: center;
}

.table-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

}
#artifacts{
  border-radius: 1em;
  box-shadow: 3px 2px 3px;
  margin: 10px;
}

table th{
  text-align: center;
}